<h3>List of manufacturers</h3>
<br/>

<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Name</th>
        <th ng-if="role != 'ROLE_ANONYMOUS'">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="manufacturer in manufacturers">
        <th scope="row"><a ng-href="#!/manufacturer/{{manufacturer.id}}">{{manufacturer.name}}</a></td>
        <td ng-if="role != 'ROLE_ANONYMOUS'"><a ng-href="#!/manufacturer/{{manufacturer.id}}/production">Show production</a></td>
    </tr>
    </tbody>
</table>