<h3>{{manufacturer.name}}</h3>
<br/>

<h3>List of bottles</h3>
<br/>

<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Sticker ID</th>
        <th>Name</th>
        <th>Production date</th>
        <th>Size</th>
        <th>Type</th>
        <th>Manufacturer</th>
        <th ng-if="isRole('ROLE_POLICE')">Is toxic</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bottle in bottles">
        <th scope="row">{{bottle.stickerID}}</td>
        <td>{{bottle.bottleType.name}}</td>
        <td>{{bottle.produced}}</td>
        <td>{{bottle.bottleType.size}}</td>
        <td>{{bottle.bottleType.type}}</td>
        <td>{{bottle.bottleType.manufacturedBy.name}}</td>
        <td ng-if="isRole('ROLE_POLICE')">{{bottle.toxic}}</td>
      </tr>
    </tbody>
</table>