<h3>{{manufacturer.name}}</h3>
<br/>

<div>
    <button class="btn btn-secondary" ng-show="!showForm" ng-click="showForm = true" ngInit="showForm = false">Create new bottle type</button>
    <div ng-show="showForm">
        <div id="errorOutput" class="alert alert-danger" style="display: none;" role="alert">Submitted bottle type is not valid</div>
        <h5>New bottle type:</h5>
        <form name="form" ng-submit="create()">
            <table>
                <tr class="form-group" ng-class="{'has-danger': form.name.$invalid && !form.name.$pristine}">
                    <td class="control-label">Name:</td>
                    <td>
                        <input class="form-control" type="text" name="name" size="6" ng-model="bottleType.name" required>
                    </td>
                </tr>
                <tr class="has-danger">
                    <td><br/></td>
                    <td class="form-control-feedback" ng-if="form.name.$invalid && !form.name.$pristine"><small>Name is required.</small></td>
                </tr>
                <tr class="form-group" ng-class="{'has-danger': form.size.$invalid && !form.size.$pristine}">
                    <td class="control-label">Size:</td>
                    <td>
                        <input class="form-control" type="number" name="size" min="0.5" step="0.5" ng-model="bottleType.size" placeholder="liters" required>
                    </td>
                </tr>
                <tr ng-class="{'has-danger': form.size.$invalid && !form.size.$pristine}">
                    <td><br/></td>
                    <td class="form-control-feedback" ng-if="form.size.$invalid && !form.size.$pristine"><small>Minimum acceptable size is 0,5.</small></td>
                </tr>
                <tr class="form-group" ng-class="{'has-danger': form.volume.$invalid && !form.volume.$pristine}">
                    <td class="control-label">Volume:</td>
                    <td>
                        <input class="form-control" type="number" name="volume" min="0" max="100" ng-model="bottleType.volume" placeholder="&#8240;" required>
                    </td>
                </tr>
                <tr class="has-danger">
                    <td><br/></td>
                    <td class="form-control-feedback" ng-if="form.volume.$invalid && !form.volume.$pristine"><small>Must be in range from 0 to 100.</small></td>
                </tr>
                <tr class="form-group">
                    <td class="control-label">AlcoholType:</td>
                    <td>
                        <select class="form-control" ng-model="bottleType.type" ng-options="type for type in ['RUM', 'VODKA', 'WHISKEY', 'COGNAC']" required>
                            <option value="">- Please select -</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br/>
            <button class="btn btn-secondary" type="button" ng-click="showForm = false">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Create</button>
        </form>
    </div>
</div>
<br/>
<br/>

<h3>Your bottle types</h3>
<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Volume</th>
        <th>Bottles produced</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="type in bottleTypes">
        <th scope="row">{{type.name}}</td>
        <td>{{type.type}}</td>
        <td>{{type.size}}</td>
        <td>{{type.volume}}</td>
        <td>{{type.bottleCount}}</td>
        <td>
            <button class="btn btn-secondary" type="button" ng-if="!type.deleted" ng-click="setDeleted(type)">Delete</button>
            <button class="btn btn-secondary" type="button" ng-if="type.deleted" ng-click="introduceType(type)">Reintroduce</button>
        </td>
    </tr>
    </tbody>
</table>
