<h3>{{store.name}}</h3>
<br/>

<div>
    <button class="btn btn-secondary" ng-show="!showForm" ng-click="showForm = true" ngInit="showForm = false">Import bottles</button>
    <div ng-show="showForm">
        <div id="errorOutput" class="alert alert-danger" style="display: none;" role="alert">Submitted bottle is not valid</div>
        <h5>Import bottle:</h5>
        <form name="form" ng-submit="importBottle()">
            <table>
                <tr class="form-group">
                    <td class="control-label">Manufacturer:</td>
                    <td>
                        <select class="form-control" ng-model="manufacturer" ng-options="manufacturer.name for manufacturer in manufacturers" ng-change="manufacturerSelected()" required>
                            <option ng-if="!manufacturer" value="">- Please select -</option>
                        </select>
                    </td>
                </tr>
                <tr><td><br/></td></tr>
                <tr class="form-group">
                    <td class="control-label">Bottle type:</td>
                    <td>
                        <select class="form-control" ng-model="bottle.bottleType" ng-options="type.name for type in manufacturer.bottleTypes" required>
                            <option value="">- Please select Manufacturer -</option>
                        </select>
                    </td>
                </tr>
                <tr><td><br/></td></tr>
                <tr class="form-group">
                    <td class="control-label">Sticker ID:</td>
                    <td><input class="form-control" name="sticker" ng-model="bottle.stickerID" required></td>
                </tr>
                <tr class="has-danger">
                    <td><br/></td>
                    <td class="form-control-feedback" ng-if="form.sticker.$invalid && !form.sticker.$pristine"><small>StickerID is required.</small></td>
                </tr>
            </table>
            <button class="btn btn-secondary" type="button" ng-click="showForm = false">Cancel</button>
            <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Import</button>
        </form>
    </div>
</div>
<br/>
<br/>

<table class="table" >
    <thead class="thead-inverse">
    <tr>
        <th>Sticker ID</th>
        <th>Name</th>
        <th>Production date</th>
        <th>Size</th>
        <th>Type</th>
        <th>Manufacturer</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bottle in bottles">
        <th scope="row">{{bottle.stickerID}}</td>
        <td>{{bottle.bottleType.name}}</td>
        <td>{{bottle.produced}}</td>
        <td>{{bottle.bottleType.size}}</td>
        <td>{{bottle.bottleType.type}}</td>
        <td>{{bottle.bottleType.manufacturedBy.name}}</td>
        <td>
            <button type="button" class="btn btn-secondary" ng-click="markSold(bottle.id)">Mark sold</button>
        </td>
    </tr>
    </tbody>
</table>

<!--<h3>Your bottle types</h3>-->
<!--<table class="table">-->
    <!--<thead class="thead-inverse">-->
    <!--<tr>-->
        <!--<th>Name</th>-->
        <!--<th>Type</th>-->
        <!--<th>Size</th>-->
        <!--<th>Volume</th>-->
        <!--<th>Action</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="type in bottleTypes">-->
        <!--<th scope="row">{{type.name}}</td>-->
        <!--<td>{{type.type}}</td>-->
        <!--<td>{{type.size}}</td>-->
        <!--<td>{{type.volume}}</td>-->
        <!--<td>-->
            <!--<button class="btn btn-secondary" type="button" ng-click="">See bottles</button>-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->