<h3>{{store.name}}</h3>
<br/>

<h3>List of toxic bottles</h3>
<br/>

<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Sticker ID</th>
        <th>Name</th>
        <th>Production date</th>
        <th>Size</th>
        <th>Type</th>
        <th>Manufacturer</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bottle in toxicBottles">
        <th scope="row">{{bottle.stickerID}}</td>
        <td>{{bottle.bottleType.name}}</td>
        <td>{{bottle.produced}}</td>
        <td>{{bottle.bottleType.size}}</td>
        <td>{{bottle.bottleType.type}}</td>
        <td>{{bottle.bottleType.manufacturedBy}}</td>
    </tr>
    </tbody>
</table>

<br/>
<h3>List of nontoxic bottles</h3>
<br/>

<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>Sticker ID</th>
        <th>Name</th>
        <th>Production date</th>
        <th>Size</th>
        <th>Type</th>
        <th>Manufacturer</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="bottle in nonToxicBottles">
        <th scope="row">{{bottle.stickerID}}</td>
        <td>{{bottle.bottleType.name}}</td>
        <td>{{bottle.produced}}</td>
        <td>{{bottle.bottleType.size}}</td>
        <td>{{bottle.bottleType.type}}</td>
        <td>{{bottle.bottleType.manufacturedBy}}</td>
    </tr>
    </tbody>
</table>